<h2>Sign me in!!</h2>
<%= form_tag "/sessions" %>

  <div>
    <%= label_tag "Email address" %>
    <% text_field_tag :email %>
  </div>

  <div>
    <%= label_tag "Password" %>
    <% password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag "Sign me in" %>
  </div>

<% end %>