<h1>My Reservations</h1>
<ul>
	<% @user.reservations.each do |reservation| %>
		<li>
			<%= link_to reservation.restaurant.name, reservation.restaurant %>
			at 
			<%= nice_datetime reservation.begin_time %>
			(<%= pluralize(reservation.people, 'person') %>)
		</li>
	<% end %>
</ul>
