<h1>Restaurants!</h1>
<%= link_to "Add New Restaurant", "/restaurants/new" %>

<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.name %>, <%= restaurant.description %></p>
  <%= link_to image_tag(restaurant.picture), "/restaurants/#{restaurant.id}" %>
<% end %>
